.imagem-carrocel{
	object-fit: cover;
	object-position: 0 80%;
	height: 400px;
}

.cor-borda{
	border-color: darkred;
	max-width: 17rem;	
}

.fonte-titulo{
	font-family: 'Pacifico', cursive;
}

.cor-titulo {
	color: darkred;
}

.cor-botao{
	background-color: darkred;
	color: white;
}

.card-position-imagem{
	object-fit: cover;
	height: 200px; 
}